@*@{
    string backgroundImage = $"background-image: url(\"/images/trinsic-logo.png\")";
}*@
<nav class="mt-0 w-full border-solid border-b border-light-gray-500">
    <div class="container mx-auto flex items-center h-16">
        <a href="/" class="logo" >
        </a>
        <div class="flex w-1/2 pl-4 text-sm">
            @Html.Partial("_navbar")
        </div>
        <div class="flex w-1/2 justify-end content-center">

        </div>

    </div>
    <div class="bg-gray-200 w-full text-xl md:text-2xl text-gray-800 leading-normal rounded-t">
</nav>