@model IDocument
@{
    IOrderedEnumerable<Statiq.Common.IDocument> posts = Model.GetChildren().OrderByDescending(x => x.GetDateTime(WebKeys.Published).Year);
                  
}

@if (posts.Any())
{
  var first = posts.First();
  @Html.Partial("/_singlePost.cshtml", first)
}
<div class="flex flex-wrap my-14 mx-auto">
  @foreach (IDocument post in posts.Skip(1))
  {
          @Html.Partial("/_post.cshtml", post)
  }
</div>