@model IDocument



@if (Model.GetChildren().Any())
{
  var first = Model.GetChildren().First();
  @Html.Partial("/_singlePost.cshtml", first)
}

<div class="flex mx-auto my-14">
  @foreach (IDocument post in Model.GetChildren().Skip(1))
  {
    @Html.Partial("/_post.cshtml", post)
  }
</div>
