@model IDocument



@if (Model.GetChildren().Any())
{
  var first = Model.GetChildren().First();
  @Html.Partial("/_singlePost.cshtml", first)
}

@foreach (IDocument post in Model.GetChildren().Skip(1))
{
    <div class="flex my-14 mx-auto">
        @Html.Partial("/_post.cshtml", post)
    </div>
}
