ArchiveSources: => GetString("PostSources")
Image: https://trinsic.id/wp-content/uploads/2020/05/Graphic.png
Title: About Trinsic
Description: We are making the world more accessible by empowering people with a digital identity that’s as legitimate as their real-world identity.
---

<div class="w-4/6 my-8 mx-auto">
    <div class="text-center">
        <h2 class="font-bold text-3xl">Our Story</h2><br>
        <p class="text-xl leading-loose">
            “I transferred how much money out of my savings?!”<br><br>
            Trinsic started when our CTO Tomislav Markovski wanted to move from Jersey City into downtown Manhattan. 
            The rental application required several forms of ID, bank statements, employment records, and even investment statements.<br><br>
            Tomislav got a call from his bank a few days later. They were calling to confirm that he indeed wanted to empty his checking account. 
            Wait… what? Tomislav didn’t attempt to drain his account. So who did?<br><br>
            On the internet, all you need to take control of someone’s digital life, including their finances, healthcare data, and more is to know a few things about them. 
            Things like SSN, date of birth, and account numbers are a proxy for our identity, so anyone who knows these things (or bought them on the dark web) can impersonate you.<br><br>
            Luckily, Tomislav was able to stop the fraud. But it begs the question: why are we living in this day and age, but we still use paper documents, username/password systems, and third-party verifications to prove our identities online?<br><br> 
        </p>
        <h2 class="font-bold text-3xl">Our Company</h2><br>
        <p class="text-xl leading-loose">
            Trinsic’s mission is to make the world more accessible to people everywhere. A safe, trusted, verified, private identity is an enabler to people everywhere. 
            Self-sovereign identity represents a shift in the way people handle their identity, authentication, and data. It will have a far-reaching impact on how we live our lives. 
            And we’re excited to speak with anyone who wants to help make that vision a reality.
        </p>
        <br><h2 class="font-bold text-3xl">Our Values</h2><br>
        <p class="text-xl leading-loose">
            The Trinsic value system begins with accessibility, transparency, and authenticity. See how we live up to that.
        </p>
        <br><h2 class="font-bold text-3xl">Open Source</h2><br>
        <p class="text-xl leading-loose">
            We are avid contributors to open source projects that advance human dignity online. 
            Our largest contribution is the development of the Hyperledger Aries codebase in .NET, housed at the Linux Foundation. 
            In total, we’ve contributed tens of thousands of lines of code. 
        </p>
        <br><h2 class="font-bold text-3xl">Open Standards</h2><br>
        <p class="text-xl leading-loose">
            In addition to building on open standards such as the W3C DID and Verifiable Credential standards, we are committed to always 
            maintaining our offerings’ compatibility with the most recent community interoperability protocols. 
        </p>
        <br><h2 class="font-bold text-3xl">Open Networks</h2><br>
        <p class="text-xl leading-loose">
            We are believers in open networks which is why we support the Sovrin Network, the world’s first public utility for decentralized identity. 
            We also integrate easily with any other Hyperledger Indy networks and plan to add support for other protocols as they mature. 
        </p>
        <br><h2 class="font-bold text-3xl">Open Vendors</h2><br>
        <p class="text-xl leading-loose">
            Vendor lock-in restricts choice for individuals and businesses which results in harmful power asymmetries. 
            With Trinsic, your identity is always portable – so if another company fits your needs better than we can, you can switch to them. 
        </p>
        <br><h2 class="font-bold text-3xl">Our Team</h2><br>
        <img src="/images/team.png"/>
    </div>
</div>